body
{
	color:#61666c;
	font-weight:400;font-size:1em;font-family:'Open Sans', sans-serif;
}
ul
{
	margin:0;padding:0;padding-left:10px;
}
a
{
	z-index: 10;text-decoration:none;
	cursor:pointer;
}
/* hide input file */
input[type=file]
{
	width:0;height:0;overflow:hidden;
}
/* FILES TREE */
ul.tree, .ce-right-pane ul
{
	list-style:none;
}
.ce-right-pane div
{
	display:inline-block;
}

/* SERVICES */
span.dropbox
{
	background:url('../assets/dropbox.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
span.gdrive
{
	background:url('../assets/gdrive.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
/* FILES AND FOLDERS */
/* Prevent the text contents of draggable elements from being selectable. */
[draggable=true]
{
  -moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag:element; -webkit-user-drag:element;
  cursor:move;
}
.ce-folder-over /* TODO */
{
	border:1px solid red;
}
span.is-dir-true, div.is-dir-true
{
	background:url('../assets/folder.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
span.is-dir-false, div.is-dir-false
{
	background:url('../assets/file.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
div.ce-file-selected
{
	background-color:blue;
}
.ce-item, .ce-new-item
{
	-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;
}
.ce-item form, .ce-new-item form
{
	padding:0;margin:0;
}
.ce-item input[type="text"], .ce-new-item input[type="text"]
{
	padding:0;margin:0;
	height:20px;line-height:18px;
}
.loggedin-hide-true /* FIXME useful ? */
{
	display: none;
}
.loggedin-show-false /* FIXME useful ? */
{
	display: none;
}
/* connect btn */
a.ce-srv-connected
{
	font-style:italic;color:#e3e3e3; /* FIXME color not displayed */
}
a.ce-srv-not-connected
{

}
/* LOGS CONSOLE */
.ce-log-console
{
	font-size:small;
	height:50px; overflow-y:scroll;
	list-style-type:none;
}
/* file uploader directive */
div.fileUploader
{
	
}