body
{
	color:#61666c;
	font-weight:400;font-size:1em;font-family:'Open Sans', sans-serif;
}
ul
{
	margin:0;padding:0;padding-left:24px;
}
a
{
	z-index: 10;
	color:#61666c;text-decoration:none;
}
/* FILES TREE */
/* Prevent the text contents of draggable elements from being selectable. */
[draggable]
{
  -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; user-select:none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag:element; -webkit-user-drag:element;
  cursor:move;
}
.ce-folder-over
{
	border:1px solid red;
}
li.is-dir-true
{
	list-style:square url('../assets/folder.png');
}
li.is-dir-false
{
	list-style:square url('../assets/file.png');
}
.loggedin-hide-true
{
	display: none;
}
.loggedin-show-false
{
	display: none;
}
/* SERVICES */
li.dropbox
{
	list-style:square url('../assets/dropbox.png');
}
li.gdrive
{
	list-style:square url('../assets/gdrive.png');
}
/* LOGS CONSOLE */
.ce-log-console
{
	font-size:small;
	height:50px; overflow-y:scroll;
	list-style-type:none;
}