div#CE
{
	color:#61666c;
	font-weight:400;font-size:1em;font-family:'Open Sans', sans-serif;
	border:1px solid black;
	width:700px;height:350px;
	position:absolute; top:50%;left:50%;margin-left:-350px;margin-top:-175px;
}
div#CE ul
{
	margin:0;padding:0;padding-left:10px;
}
div#CE a
{
	z-index: 10;text-decoration:none;
	cursor:pointer;
}
/* hide input file */
div#CE input[type=file]
{
	width:0;height:0;overflow:hidden;
}
/* FILES TREE */
div#CE ul.tree, div#CE .ce-right-pane ul
{
	list-style:none;
}
div#CE .ce-right-pane div
{
	display:inline-block;
}

/* SERVICES */
div#CE span.dropbox
{
	background:url('../assets/dropbox.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
div#CE span.gdrive
{
	background:url('../assets/gdrive.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
/* FILES AND FOLDERS */
/* Prevent the text contents of draggable elements from being selectable. */
[draggable=true]
{
  -moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag:element; -webkit-user-drag:element;
  cursor:move;
}
div#CE .ce-folder-over /* TODO */
{
	border:1px solid red;
}
div#CE span.is-dir-true, div.is-dir-true
{
	background:url('../assets/folder.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
div#CE span.is-dir-false, div.is-dir-false
{
	background:url('../assets/file.png') no-repeat;
	padding-left:20px;
	cursor:pointer;
}
div#CE div.ce-file-selected
{
	background-color:blue;
}
div#CE .ce-item, div#CE .ce-new-item
{
	-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;
}
div#CE .ce-item form, div#CE .ce-new-item form
{
	padding:0;margin:0;
}
div#CE .ce-item input[type="text"], div#CE .ce-new-item input[type="text"]
{
	padding:0;margin:0;
	height:20px;line-height:18px;
}
div#CE .loggedin-hide-true /* FIXME useful ? */
{
	display: none;
}
div#CE .loggedin-show-false /* FIXME useful ? */
{
	display: none;
}
/* save as btn */
div#CE div.ce-saveas-btn
{
	border:1px solid black;

}
div#CE div.ce-saveas-btn input
{
	width:80px;
}
/* LOGS CONSOLE */
div#CE .ce-log-console
{
	font-size:small;
	height:50px; overflow-y:scroll;
	list-style-type:none;
}
/* file uploader directive */
div#CE div.fileUploader
{
	
}