<div class="ceBrowser">
<div class="row-fluid">
	<div class="span4">
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown">
				Connect
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="service in services">
					<a ng-click="connect(service.name)">{{service.display_name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div ce-trash></div>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<script type="text/ng-template" id="tree_item_renderer.html">
		    <a ce-folder class="is-dir-true" ng-click="enterDir()">{{file.name}}</a>
		    <ul class="tree">
		        <li ng-repeat="file in file.children | filter:{'is_dir':true}" ng-include="'tree_item_renderer.html'" onload="srv=srv"></li>
		    </ul>
		</script>
		<ul class="tree">
			<li ng-repeat="(srvTreeK, srvTreeV) in tree">
				<a ce-folder ng-class="srvTreeK" ng-click="enterDir()">{{ srvTreeK }}</a>
				<ul class="tree">
					<li ng-repeat="file in srvTreeV | filter:{'is_dir':true}" ng-include="'tree_item_renderer.html'" onload="srv=srvTreeK"></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span8">
		<ul>
			<li ng-show="isLoggedin" class="upload">
				Télécharge un ou plusieurs fichiers: <div file-uploader></div>
			</li>
			<li ce-folder ng-init="setLinkToParent()" ng-hide="isRootPath()" class="is-dir-true" ng-click="enterDir()">..</li>
			<!-- FIXME <li ce-folder ce-file ng-repeat="file in files | orderBy:'is_dir':true" ng-class="getClass()" >{{file.name}}</li> -->
			<li ce-folder ce-file ng-repeat="file in files | filter:{'is_dir':true}" ng-class="getClass()" ng-click="enterDir()">{{file.name}}</li>
			<li ce-file ng-repeat="file in files | filter:{'is_dir':false}" ng-class="getClass()">{{file.name}}</li>
		</ul>
	</div>
</div>
<div class="row-fluid"><div class="span12" ce-console></div></div>
</div>