ul { margin: 0; padding: 0; list-style: none; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, input[type="text"] {
	font-family: 'Roboto', arial, sans-serif; font-size: 14px; color: #727271;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-s81k15');
	src:url('../fonts/icomoon.eot?#iefix-s81k15') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-s81k15') format('woff'),
		url('../fonts/icomoon.ttf?-s81k15') format('truetype'),
		url('../fonts/icomoon.svg?-s81k15#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {content: "\e601";}
.icon-add_folder:before {content: "\e602";}
.icon-cloud:before {content: "\e603";}
.icon-suppr:before {content: "\e604";}
.icon-import:before {content: "\e605";}
.icon-export:before {content: "\e606";}
.icon-cloudexplorer:before {content: "\e600";}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* IE6/7 support */
.clearfix { *zoom: 1; }

.explorer-bg {
	background-color: black; opacity: .5;
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;
}

.explorer {

	position: relative; top: 50%; margin: auto; margin-top: -330px;
	height: 660px; width: 80%; min-width: 640px;
	background-color: white; opacity: 1; border-radius: 15px;

	.loader, .alertPopup {

		position: absolute; top: 0; left: 0; z-index: 99;
		width: 100%; height: 100%;  vertical-align: middle;
		
		div.bg {
			position: absolute; top: 0; left: 0; z-index: -1;
			width: 100%; height: 100%; border-radius: 15px;
			background-color: black; opacity: .5;
		}
		div.txt {
			position: absolute;
			top: 50%; height: 80px; margin-top: -40px;
			left: 50%; width: 450px; margin-left: -225px;
			padding: 20px;
			background-color: white;
			opacity: 1; border-radius: 10px;
			text-align: center;
			font: {
				size: 20px;
			}
		}
	}
	.alertPopup {
		div.txt {
			.choice {
			 	padding: 6px; margin: 2px;
				cursor: pointer;
				user-select: none;
				border-radius: 5px;
			}
			.choice:nth-of-type(1) {
				border: 2px solid red;
			}
			.choice:nth-of-type(2) {
				border: 2px solid green;
			}
			.choice:nth-of-type(1):hover {
				background: red; color: #FFF;
			}
			.choice:nth-of-type(2):hover {
				background: green; color: #FFF;
			}
		}
	}
	.alertPopup.warning {
		div.txt {
			background-color: orange;
		}
	}
	.alertPopup.error {
		div.txt {
			background-color: red;
		}
	}

	.home {

		text-align: center;

		span {
			display: inline-block;
			font-size: 20px; margin-top: 180px;
		}
		ul {
			display: block; width: 400px;
			margin: auto; margin-top: 15px;
			li {
				display: inline-block;
				width: 100px; height: 100px;
				vertical-align: top;
				margin: 4px;
				border-radius: 10px;
				cursor: pointer;
				user-select: none;
			}
			li.dropbox {
				padding-top: 5px;
				color: white;
				font: {
					size: 18px;
					weight: 500;
				}
				background: #007ee5 url('../images/default/dropbox-white.png') no-repeat 50% 70% / 70% auto;
			}
			li.www {
				background: url('../images/default/www.png') no-repeat 50% 70% / 60% auto;
				border: 2px solid #333333;
				color: #333333;
				padding-top: 5px;
				font: {
					size: 15px;
					weight: 600;
				}
			}
		}
	}

	.header {

		background: #282828;
		border-radius: 15px 15px 0px 0px;
		color: #fff;
		padding: 10px;
		font-size: 20px;

		img {
			display: block;
			margin-left: 25%;
		}
		button {
			border: 0; padding: 0; margin-left: 15px;
			float: right;
			height: 30px;
			cursor: pointer;
			background: #282828;
			color: #fff;
		}
		.closeBtn {
			background: url("../images/default/close.png") no-repeat center center;
			background-size: 11px 11px; width: 30px;
			border: 2px solid #fff;
			border-radius: 15px;
		}
	}

	.logoutBtn {

		font-size: 16px;
	}
	
	.authPopup {
	
		position: absolute; z-index: 110;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: rgba(0,0,0,.4); border-radius: 15px;

		div {
			position: absolute;
			top: 50%; height: 80px; margin-top: -40px;
			left: 50%; width: 450px; margin-left: -225px;
			padding: 20px;
			background-color: #FFFFFF;
			border-radius: 10px;
			color: #727271;
			text-align: center;
			font: {
				weight: bold;
				size: 20px;
			}
		}
	}

	.breadcrumb {

		padding: 10px; padding-bottom: 0px;
		font-size: 14px;

		.path {

			.pathIt {
				font-style: italic;
				cursor: pointer;
				color: #727271;
			}
			.pathIt:hover {
				text-decoration: underline;
			}
		}
		.title {
			font-size: 22px;
			color: #222;
			padding: 10px 0 0 10px;

			.icon-folder {

				font-size: 32px;
				color: #dd4b39;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
	}

	.fileBrowser {

		position: relative; width : 100%; height: 600px;

		.services, .files {

			float: left;
			overflow: hidden;
			height: 557px;
		}
		.services {

			width: 15%; overflow-y: auto;
			border-right: 1px solid rgb(229, 229, 229);

			ul {
				height: 100%; overflow-y: auto;

				li {

					height: 36px; padding-left: 26px; padding-top: 10px; padding-bottom: 10px;
					user-select: none;
					cursor: pointer;
				}
				li.dropbox {

					background: url("../images/default/dropbox.png") no-repeat 5% 50% / auto 50%;
				}
				li.www {
					background: url('../images/default/www.png') no-repeat 5% 50% / auto 40%;
				}
			}
		}
		.files {

			width: 85%;

			.list {

				display: block; height: 336px;

				.titles {

					color: #dd4b39; font-size: 14px; padding-top: 6px; padding-bottom: 10px;
					span {
						display: inline-block;
						cursor: pointer; user-select: none;
					}
					span:hover {
						text-decoration: underline;
					}
					.lastUpdate {
						width: 150px;
					}
					.fileName {
						margin-left: 20px; padding-left: 35px;
						width: 210px;
					}
					.fileType{
						width: 60px;
					}
					.lastUpdate, .fileType {
						float: right; text-align: center;
					}
				}
				ul {

					height: 304px; overflow-y: auto; border-top: 1px solid rgb(229, 229, 229);

					li .fileName {
						cursor: pointer;
						-ms-text-overflow: ellipsis; /* Required for IE8 */ -o-text-overflow: ellipsis; /* Required for Opera */ text-overflow: ellipsis;
					}
					li .fileType {
						width: 60px;
					}
					li .lastUpdate {
						width: 150px;
					}
					li .fileType, li .lastUpdate {
						float: right; text-align: center;
					}
					li span {
						display: inline-block; overflow: hidden;
						white-space: nowrap;
					}
					li {
						clear: both; height: 36px; padding-top: 10px; padding-bottom: 10px;
						border-bottom: 1px solid rgb(229, 229, 229);
						input {
							vertical-align: top;
						}
						input[type="text"] {
							border: 0; margin: 0;
						}
						button {
							display: none;
							background: url("../images/default/editortoolbar.png") no-repeat;
							width: 16px; height: 16px;
							border: 0; padding: 0; margin-left: 10px;
						}
						button.rename {
							background-position: -336px 0;
						}
						button.delete {
							background-position: -528px 0;
						}
					}
					li:hover {
						button {
							display: inline-block;
						}
					}
					.folder {

						span.fileName, input[type="text"] {

							background: url('../images/default/folder.png') no-repeat;
							padding-left: 20px;
							cursor: pointer;
						}
						&.new {

							input[type="text"] {

								margin-left: 20px;
							}
						}
					}
					.file {

						span.fileName, input[type="text"] {

							background: url('../images/default/file.png') no-repeat;
							padding-left: 20px;
							cursor: pointer;
						}
					}
				}
			}
			.controls {

				min-height: 60px;
				padding: 10px 10px 10px 10px;
				background: #b4dff8;
				font-size: 18px;

				button.newFolderBtn, button.deleteBtn, div.export .saveBtn, div.export .overwriteBtn {

					border-radius: 5px; background: #fff; height: 40px; padding: 10px;
					border: 0;
					font: {
						weight: 300;
						size: 18px;
					}
					color: #444; text-transform: lowercase;
				}
				button.deleteBtn {

					float: right;
				}
				button.newFolderBtn {

					.icon-add_folder {

						vertical-align: middle;
						position: relative;
						top: -2px;
					}
				}
				div.export {

					.saveBtn, .overwriteBtn {
						color: #FFF;
					}
					.overwriteBtn {
						background: orange;
					}
					.saveBtn {
						background: green;
					}
				}
			}
		}
	}

	.dropzone {
		position: relative; height: 92px;
		border-top: 1px solid rgb(229, 229, 229);
		background: url("../images/default/dragzone.png") no-repeat center / auto 90%;
		text-align: center;
		h2 {
			top: 37px;
			position: relative;
			font: {
				weight: 300;
				size: 115%;
			}
			color: #ccc;
		}
		div {
			position: absolute; top: 0; left: 0; right: 0;
		}
		div, div button {
			height: 100%; width: 100%;
			opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			cursor: pointer;
		}
		div button {
			position: absolute; top: 0; left: 0;
		}
	}


	/*
		STYLING BY STATE
	*/

	&.browsing.single-file-exp-mode {
		.dropzone {
			display: none;
		}
		.list {
			height: 428px;
			ul {
				height: 396px;
			}
		}
	}
}